name: Release on main

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        go-version: [ '1.25' ]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Build and run unit tests ${{ matrix.go-version }}
        run: |
          go test -count 1 ./internal/...
      - name: Setup Ollama
        uses: ai-action/setup-ollama@v1
      - name: Restore Ollama cache
        uses: actions/cache@v4
        with:
          path: ~/.ollama
          key: ${{ runner.os }}-ollama-${{ hashFiles('**/ollama_model.txt') }}
          restore-keys: |
            ${{ runner.os }}-ollama-
      - name: Run integration tests
        run: |
          ollama pull mxbai-embed-large:latest
          ollama pull qwen3:8b
          ./test.sh
